@media screen and (min-width: 0px) {
  #main .content {
    display: block;
    width: 100%;
  }
  .block {
    margin: 10px auto;
  }
  .full-block,
  .half-block,
  .third-block,
  .two-thirds,
  .two-row {
    height: initial;
    width: 95%;
  }
  .full-block .img {
    width: 100%;
  }
  #main .main-title {
    font-size: 22.5px;
    top: 10px;
    left: 10px;
  }
  #main .main-body .title {
    color: #000;
  }
  #main .main-body {
    position: initial;
    background-color: #ffffff;
    padding: 10px;
    max-width: 100%;
  }
  #main .main-body .body {
    color: #000;
    margin-bottom: 0;
  }
  #main .block {
    padding: 0;
  }
  #main .block .discover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
  }
  #main .block .withDisc {
    bottom: 0;
  }
  #main .block:hover .withDisc {
    bottom: 0;
  }
  #main .block.table {
    display: block;
  }
  #main .block .img.img-left,
  #main .block .img.img-right,
  #main .block .img.img-full,
  #main .block .img.img-full-center {
    position: initial;
  }
  #main .block .img.img-left img,
  #main .block .img.img-right img,
  #main .block .img.img-full img,
  #main .block .img.img-full-center img {
    max-width: 100%;
  }
  #main .block .img.img-full-center img {
    min-height: 1px;
    max-width: 100%;
  }
  #main .block .img.img-full-right img {
    max-height: initial;
    min-height: initial;
  }
  #main .block .img img {
    max-width: 100%;
  }
  #main .block .img.img-center img {
    max-width: 50%;
    margin: 10px auto;
  }
  #main .block .img.img-full-left img {
    height: initial;
    min-width: 100%;
  }
  #main .block .img.img-right img,
  #main .block .img.img-left img {
    height: initial;
    max-height: 100%;
  }
  #main .block .img.img-center {
    display: block;
    text-align: center;
    vertical-align: middle;
    margin: 0;
  }
  #main .white.table .main-body {
    display: block;
  }
  #main .white.table .main-body .body {
    padding: 10px;
    width: 100%;
    float: none;
    color: #000;
  }
}
@media screen and (min-width: 768px) {
  #main .content {
    display: table;
    width: 750px;
  }
  .block {
    margin: 15px auto;
  }
  .full-block,
  .half-block,
  .third-block,
  .two-thirds,
  .two-row {
    height: 380px;
    width: 722px;
  }
  .full-block .img {
    width: 50%;
  }
  #main .main-title {
    font-size: 22.5px;
  }
  #main .main-body .title {
    color: #ffffff;
  }
  #main .main-body {
    position: absolute;
    background-color: transparent;
    padding: 0;
    max-width: 92%;
  }
  #main .main-body .body {
    color: #ffffff;
    margin-bottom: 30px;
  }
  #main .block {
    padding: 10px;
  }
  #main .block .discover {
    position: initial;
    top: 0;
    left: 0;
    width: 155px;
    height: 38px;
    background: url('../image/discover.png') no-repeat;
  }
  #main .block .withDisc {
    bottom: -43px;
  }
  #main .block:hover .withDisc {
    bottom: 30px;
  }
  #main .block.table {
    display: table;
  }
  #main .block .img img {
    max-width: initial;
  }
  #main .block .img.img-center img {
    max-width: 100%;
    margin: 0 auto;
  }
  #main .block .img.img-left,
  #main .block .img.img-right,
  #main .block .img.img-full,
  #main .block .img.img-full-center {
    position: absolute;
  }
  #main .block .img.img-full-center img {
    min-height: 385px;
    max-width: initial;
  }
  #main .block .img.img-full-left img {
    height: 385px;
    min-width: 100%;
  }
  #main .block .img.img-full-right img {
    max-height: 385px;
    min-height: 385px;
  }
  #main .block .img.img-right img,
  #main .block .img.img-left img {
    height: 385px;
  }
  #main .block .img.img-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: -30px 0 0 -30px;
  }
  #main .white.table .main-body {
    display: table-cell;
  }
  #main .white.table .main-body .body {
    padding: 0;
    width: 50%;
    float: right;
    color: #000;
  }
}
