@font-face {
  font-family: Zona-Light; /* Имя шрифта */
  src: url('../fonts/ZonaPro-Light.otf'); /* Путь к файлу со шрифтом */
}

html, body {
  font-family: "Zona-Light", Arial;
}

#header {
  background-color: #4b4b4b;
  height: 40px;
  padding-left: 32px;
  position: fixed;
  width: 100%;
  z-index: 999;

  & > div:after {
    content: '';
    clear: both;
    display: table;
  }
}

#logo {
  background-image: url('../image/LOGO.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  height: 40px;
  float: left;
  width: 107px;
  position: relative;
  z-index: 5;
}

.navigation {
  color: #fff;
  line-height: 40px;
  float: right;

  ul {
    list-style: none;
    margin: 0;

    &:after {
      content: "";
      clear: both;
      display: table;
    }

    li {
      float: left;

      a {
        color: #ffffff;
        cursor: pointer;
        display: inline-block;
        padding: 0 30px;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }

  .search, .language, .social {
    border-left: 1px solid #636363;
    cursor: pointer;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    width: 40px;

    &:hover {
      background-color: #636363;
    }
  }

  .search {
    background-image: url('../image/search.png');
    background-repeat: no-repeat;
    background-position: 50%;
    border: none;
  }

  .language {
    padding: 0 5px;

    .arrow-down {
      display: inline-block;
      float: right;
      height: 40px;
      width: 12px;
      background-image: url('../image/arrow-down.png');
      background-repeat: no-repeat;
      background-position: 50%;
    }
  }

  .social {
    background-image: url('../image/share.png');
    background-repeat: no-repeat;
    background-position: 50%;
  }
}

#header .first {
  .navigation {

    a {
      padding: 0 40px;
    }
    .language {
      width: inherit;

      i {
        margin-left: 5px;
      }
    }
  }
}

#header .second {
  .navigation {
    position: relative;
    z-index: 5;
    color: #ffffff;
    font-size: 14px;
    padding: 20px 20px 0 0;

    li {
      padding: 0 40px;
      a {
        padding: 0;

        &.active {
          border-bottom: 1px solid #44bbff;
        }
      }
    }
    .search {
      background-color: #acacac;
      border-radius: 20px;
      border: 1px solid #cccccc;
      cursor: pointer;
      display: block;
      height: 40px;
      line-height: 40px;
      padding: 0 10px;
      width: 40px;

      &:hover {
        background-color: #acacac;
      }
    }
  }

  &.open {
    .navigation a, .search {
      color: #4b4b4b;
    }
    #logo {
      background-image: url('../image/LOGO_black.png');
      background-size: 100%;
    }
  }

  #logo {
    height: 80px;
  }
}

.popup-menu {
  position: absolute;
  top: 40px;
  left: 0;
  height: 0px;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;

  .popup-menu-group {
    display: none;
    bottom: 30px;
    width: 1300px;
    margin: 90px auto 0 auto;

    &.active {
      display: block;
    }

    &:after {
      content: '';
      clear: both;
      display: table;
    }

    .popup-menu-item {
      float: left;
      width: 33.33%;

      .item-img {
        vertical-align: middle;
        height: 65px;
        //display: table-cell;
      }
      img {
        //width: 80px;
        margin: 0 auto;
        display: block;
      }
      label {
        color: #b0b0b0;
        margin-top: 20px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
      }
    }

    &:last-child {
      .popup-menu-item {
        width: 50%;
      }
    }
  }

}

#slider {
  background-color: #a7a7a7;
  height: 876px;
  margin: 0 -32px;
}

#main {
  background: linear-gradient(to top, #ffffff, #f0f0f0);
  padding: 12px 32px;

  .content {
    margin: 0 auto;
    width: 1680px;

    &:after {
      content: '';
      clear: both;
      display: table;
    }
  }

  .slaid-menu {
    position: relative;
    height: 115px;

    & > div {
      position: absolute;
      height: 190px;
      width: 520px;
      margin: 15px;
      float: left;
      bottom: 0;
      text-transform: uppercase;
      color: #acacac;
      font-size: 32px;
      font-family: "Zona Pro";
      font-weight: 100;
      padding: 26px 48px;
      -moz-transition: height 700ms ease;
      -o-transition: height 700ms ease;
      -webkit-transition: height 700ms ease;
      transition: height 700ms ease;

      &:hover {
        height: 225px;
      }
    }

    .spec {
      background-image: url('../image/spec.png');
      background-position: 0;
      background-repeat: no-repeat;
      background-size: auto 225px;
      left: 0;
    }

    .las_vegas {
      background-image: url('../image/las_vegas.png');
      background-position: 0;
      background-repeat: no-repeat;
      background-size: auto 225px;
      left: 550px;
    }

    .expertise {
      background-image: url('../image/expertise.png');
      background-position: 0;
      background-repeat: no-repeat;
      background-size: auto 225px;
      right: 30px;
    }
  }

  .block {
    float: left;
    margin: 15px;
    padding: 30px;
    position: relative;
    overflow: hidden;

    &:hover .withDisc {
      bottom: 30px;
    }

    .img {
      position: absolute;
      top: 0;
      right: 0;
      overflow: hidden;
      height: 100%;
      width: 100%;

      &.cams360 {
        background-image: url('../image/360cams.png');
        background-position: 10% 50%;
        background-repeat: no-repeat;
        background-size: auto 158%;
      }
      &.virtual {
        background-image: url('../image/virtual.png');
        background-position: 95% 0;
        background-repeat: no-repeat;
        background-size: 35%;
      }
      &.audio {
        background-image: url('../image/audio.png');
        background-position: 0 -50px;
        background-repeat: no-repeat;
        background-size: 100%;
      }
      &.stabil {
        background-image: url('../image/stabil.png');
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 275px;
      }
      &.licensing {
        background-image: url('../image/licensing.png');
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: auto 100%;
        opacity: 0.39;
      }
      &.randd {
        background-image: url('../image/RandD.png');
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: auto;
      }
      &.app {
        background-image: url('../image/app.png');
        background-position: 50% 20px;
        background-repeat: no-repeat;
        background-size: auto;
        opacity: 0.39;
      }
      &.develop {
        background-image: url('../image/develop.png');
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: auto;
      }
      &.accessoires {
        background-image: url('../image/accessoires.png');
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: auto;
      }
      &.camera {
        background-image: url('../image/camera.png');
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: auto;
      }
      &.gEYE {
        background-image: url('../image/g-eye.png');
        background-position: calc(50% + 50px) 100%;
        background-repeat: no-repeat;
        background-size: auto;
      }
    }
  }

  .main-title {
    font-family: "Zona Pro";
    font-weight: 100;
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.2;
    text-align: left;
  }

  .main-body {
    position: absolute;
    left: 30px;
    bottom: 30px;
    transition: bottom 800ms ease;

    .title {
      font-size: 23.629px;
      font-family: "Zona Pro";
      color: rgb(255, 255, 255);
      font-weight: bold;
      text-transform: uppercase;
      margin: 0 0 30px 0;
      line-height: 1.417;
      text-align: left;
    }
    .body {
      font-size: 16px;
      font-family: "Zona Pro";
      font-weight: 300;
      color: #ffffff;
      line-height: 1.5;
      text-align: left;
      margin-bottom: 30px;
    }
    
    &.withDisc {
      bottom: -43px;
    }
  }

  .white .main-body {
    bottom: 132px;
    .body {
      width: 50%;
      float: right;
      color: #000;
    }
  }

  &:after {
    content: '';
    clear: both;
    display: table;
  }

}

.full-block {
  height: 385px;
  width: 1615px;

  .main-body {
    //width: 735px;

    .body {
      width: calc(50%);
    }
  }
}

.half-block {
  height: 385px;
  width: 795px;

  .main-body {
    width: 735px;

    .body {
      width: calc(100%);
    }
  }
}

.third-block {
  height: 385px;
  width: 520px;

  .main-body {
    width: 460px;

    .body {
      width: calc(100%);
    }
  }
}

.two-thirds {
  height: 385px;
  width: 1070px;

  .main-body {
    width: 1010px;

    .body {
      width: calc(100%);
    }
  }
}

.two-row {
  height: 800px;

  .main-body {
    width: 460px;

    .body {
      width: calc(100%);
    }
  }
}

.white {
  background-color: #ffffff;
}

.orange {
  background-color: #ff6f28;
}

.blue {
  background-color: #44bbff;
}

.light-blue {
  background-color: #44bbff;
}

.black {
  background-color: #120f12;
}

.grey {
  background-color: #cccccc;
}

.dark-grey {
  background-color: #777777;
}
.discover {
  display: inline-block;
  cursor: pointer;
  height: 38px;
  width: 155px;
  background-image: url('../image/discover.png');
  background-repeat: no-repeat;
  text-decoration: none;
  outline: none;
}

#footer {
  background-color: #cbcbcb;
  padding-top: 34px;

  .footer-row {
    height: 300px;
  }

  .footer-container {
    height: 100%;
    margin: 0 auto;
    padding: 0 80px;
    width: 1216px;

    &:first-child {
      padding-bottom: 34px;
    }

    &:after {
      content: '';
      clear: both;
      display: table;
    }

    .column {
      float: left;
      margin-right: 70px;

      &.logo-content {
        width: 310px;

        p {
          font-size: 12px;
        }

        a {
          display: block;
          color: #dbdbdb;
          cursor: pointer;
          text-decoration: none;
          outline: none;

          &:hover, &:focus, &:active {
            text-decoration: none;
            border: none;
            outline: none;
          }
        }
      }

      li a {
        color: #ffffff;

        &:hover, &:focus, &:active {
          color: #ffffff;
          text-decoration: none;
          border: none;
          outline: none;
        }
      }

      h3 {
        color: #44bbff;
        font-weight: 100;
        font-size: 18px;
        margin-bottom: 15px;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        color: #ffffff;

        li {
          margin-top: 10px;
        }
      }

      .logo {
        background-image: url('../image/LOGO_white.png');
        background-repeat: no-repeat;
        background-position: 50%;
        height: 48px;
        width: 159px;
        margin-bottom: 10px;
      }
    }
  }

  .follow-us {
    float: left;
    height: 100%;
    width: 33.33%;
    border-bottom: 1px solid #d0d0d0;

    ul {
      list-style: none;
      padding: 0;
      margin: 0px auto;
      width: 250px;

      li {
        float: left;
        width: 25%;

        a {
          cursor: pointer;
          display: block;
          margin: 0 auto;
          overflow: hidden;
          height: 38px;
          width: 38px;

          &.facebook-icon {
            background-image: url('../image/FACEBOOK_icon.png');
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: 100%;

            &:hover {
              background-image: url('../image/FACEBOOK_icon_hover.png');
            }
          }
          &.twitter-icon {
            background-image: url('../image/TWITTER_icon.png');
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: 100%;

            &:hover {
              background-image: url('../image/TWITTER_icon_hover.png');
            }
          }
          &.googleplus-icon {
            background-image: url('../image/GOOGLE-PLUS_icon.png');
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: 100%;

            &:hover {
              background-image: url('../image/GOOGLE-PLUS_icon_hover.png');
            }
          }
          &.youtube-icon {
            background-image: url('../image/YOUTUBE_icon.png');
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: 100%;

            &:hover {
              background-image: url('../image/YOUTUBE_icon_hover.png');
            }
          }
        }
      }

      &:after {
        display: table;
        content: '';
        clear: both;
      }
    }
  }

  .newsletter {
    float: left;
    height: 100%;
    width: 66.66%;
    border-bottom: 1px solid #d0d0d0;

    .input-group {
      float: none;
      height: 38px;
      margin: 0 auto;
      width: 570px;
      position: relative;

      .mail_icon {
        background-image: url('../image/email_icon.png');
        background-repeat: no-repeat;
        background-position: 50%;
        background-color: #ffffff;
        position: absolute;
        display: block;
        margin: 0 auto;
        border: 1px solid #dbdbdb;
        border-radius: 100%;
        overflow: hidden;
        height: 38px;
        width: 38px;
        outline: none;
      }

      input {
        border: none;
        border-radius: 18px;
        height: 38px;
        width: 100%;
        outline: none;
        padding: 0 18px 0 48px;
      }
    }
  }

  .follow-us h3, .newsletter h3 {
    color: #ffffff;
    text-align: center;
  }

  .follow-us, .newsletter {
    p {
      color: #737373;
      font-size: 12px;
      line-height: 24px;
      min-height: 24px;
      text-align: center;
      margin-bottom: 25px;
    }
  }

  .copyright {
    color: #737373;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
  }
}