@font-face {
  font-family: "Zona Pro"; /* Имя шрифта */
  src: url('../fonts/ZonaPro.otf'); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "Zona-Light"; /* Имя шрифта */
  src: url('../fonts/ZonaPro-Light.otf'); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "Zona Pro SemiBold"; /* Имя шрифта */
  src: url('../fonts/ZonaPro-SemiBold.otf'); /* Путь к файлу со шрифтом */
}
html, body {
  font-family: "Zona-Light", serif;
}

#header {
  position: absolute;
  width: 100%;
  z-index: 999;

  &:after {
    content: '';
    clear: both;
    display: table;
  }

  & > div:after {
    content: '';
    clear: both;
    display: table;
  }
}

#scroll-header {
  position: fixed;
  background-color: #4b4b4b;
  height: 40px;
  padding-left: 32px;
  width: 100%;
  z-index: 999;
  top: -40px;
  -moz-transition: top 500ms ;
  -o-transition: top 500ms ;
  -webkit-transition: top 500ms ;
  transition: top 500ms ;

  &.fast {
    -moz-transition: top 100ms ;
    -o-transition: top 100ms ;
    -webkit-transition: top 100ms ;
    transition: top 100ms ;
  }
}

.logo {
  background: url('../image/LOGO.png') no-repeat 0 50%;
  height: 40px;
  float: left;
  width: 107px;
  position: relative;
  z-index: 5;
}

.navigation {
  color: #fff;
  line-height: 40px;
  float: right;
  font-size: 14px;

  ul {
    list-style: none;
    margin: 0;

    &:after {
      content: "";
      clear: both;
      display: table;
    }

    li {
      float: left;

      a {
        color: #ffffff;
        cursor: pointer;
        display: inline-block;
        padding: 0 60px 0 0;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }

  .search, .language, .social {
    border-left: 1px solid #636363;
    cursor: pointer;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    width: 55px;

    &:hover {
      background-color: #636363;
    }
  }

  .search {
    background: url('../image/search.png') no-repeat 50%;
    border: none;
  }

  .language {
    text-transform: none;

    .arrow-down {
      display: inline-block;
      float: right;
      height: 40px;
      width: 12px;
      background: url('../image/arrow-down.png') no-repeat 50%;
    }
  }

  .social {
    background: url('../image/share.png') no-repeat 50%;
  }
}

#header .first {
  background-color: #4b4b4b;
  padding-left: 32px;
  .navigation {

    a {
      padding: 0 40px;
      text-transform: none;
    }
    .language {
      width: inherit;

      i {
        margin-left: 5px;
      }
    }
  }
}

#header .second {
  padding-left: 32px;
  .navigation {
    position: relative;
    z-index: 5;
    color: #ffffff;
    font-size: 14px;
    padding: 20px 0 0 0;

    ul {
      padding: 0;
    }
    li {
      padding: 0 30px;
      a {
        padding: 0;

        &.active {
          border-bottom: 1px solid #44bbff;
        }
      }
    }
    .search {
      background-color: #acacac;
      border-radius: 20px;
      border: 1px solid #cccccc;
      cursor: pointer;
      display: block;
      height: 40px;
      line-height: 40px;
      padding: 0 10px;
      width: 40px;

      &:hover {
        background-color: #acacac;
      }
    }
  }

  &.open {
    .navigation a, .search {
      color: #4b4b4b;
    }
    .logo {
      background-image: url('../image/LOGO_black.png');
      background-size: 100%;
    }
  }

  .logo {
    height: 80px;
  }
}

.popup-menu {
  position: absolute;
  top: 40px;
  left: 0;
  height: 0;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;

  .popup-menu-group {
    display: none;
    bottom: 30px;
    width: 1300px;
    margin: 90px auto 0 auto;

    &.active {
      display: block;
    }

    &:after {
      content: '';
      clear: both;
      display: table;
    }

    .popup-menu-item {
      float: left;
      width: 33.33%;

      .item-img {
        vertical-align: middle;
        height: 65px;
      }
      img {
        margin: 0 auto;
        display: block;
      }
      label {
        color: #b0b0b0;
        margin-top: 20px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
      }
    }

    &:last-child {
      .popup-menu-item {
        width: 50%;
      }
    }
  }

}

#slider {
  background-color: #a7a7a7;
  position: relative;

  h2 {
    position: absolute;
    color: #ffffff;
    top: 280px;
    left: 140px;
    font-weight: 100;
    text-transform: uppercase;
  }

  img {
    position: absolute;
    right: 200px;
    top: 200px;
  }
}

#main {
  background: linear-gradient(to top, #ffffff, #f0f0f0);
  padding: 12px 0;

  .content {
    margin: 0 auto;
    width: 1616px;

    &:after {
      content: '';
      clear: both;
      display: table;
    }
  }

  .slider-menu {
    position: relative;
    height: 115px;
    margin-bottom: 15px;

    & > a {
      position: absolute;
      cursor: pointer;
      height: 190px;
      width: 520px;
      margin: 0 15px;
      float: left;
      bottom: 0;
      text-transform: uppercase;
      text-decoration: none;
      color: #acacac;
      font-family: "Zona Pro", serif;
      font-weight: 100;
      padding: 22px;
      -moz-transition: height 700ms ease;
      -o-transition: height 700ms ease;
      -webkit-transition: height 700ms ease;
      transition: height 700ms ease;

      &:hover {
        height: 225px;
      }
    }

    .spec {
      background: url('../image/spec.jpg') no-repeat 0;
      background-size: auto 225px;
      left: 0;
    }

    .las_vegas {
      background: url('../image/las_vegas.jpg') no-repeat 0;
      background-size: auto 225px;
      left: 550px;
    }

    .expertise {
      background: url('../image/expertise.jpg') no-repeat 0;
      background-size: auto 225px;
      right: 30px;
    }
  }

  .block {
    float: left;
    margin: 15px;
    padding: 30px;
    position: relative;
    overflow: hidden;

    &:hover .withDisc {
      bottom: 30px;
    }

    .img {
      position: absolute;
      top: 0;
      right: 0;
      overflow: hidden;
      height: 100%;
      width: 100%;

      &.cams360 {
        background: url('../image/360cams.png') 10% 50% no-repeat;
        background-size: auto 158%;
      }
      &.virtual {
        background: url('../image/virtual.png') 95% 0 no-repeat;
        background-size: 35%;
      }
      &.audio {
        background: url('../image/audio.jpg') 0 -50px no-repeat;
        background-size: 100%;
      }
      &.stabil {
        background: url('../image/stabil.png') 50% no-repeat;
        background-size: 275px;
      }
      &.licensing {
        background: url('../image/licensing.jpg') 50% no-repeat;
        background-size: auto 100%;
        opacity: 0.39;
      }
      &.randd {
        background: url('../image/RandD.png') no-repeat 50%;
        background-size: auto;
      }
      &.app {
        background: url('../image/app.png') no-repeat 50% 20px;
        background-size: auto;
        opacity: 0.39;
      }
      &.develop {
        background: url('../image/develop.jpg') 50% no-repeat;
        background-size: auto;
      }
      &.accessoires {
        background: url('../image/accessoires.png') no-repeat 50%;
        background-size: auto;
      }
      &.camera {
        background: url('../image/camera.png') no-repeat 50%;
        background-size: auto;
      }
      &.gEYE {
        background: url('../image/g-eye.png') no-repeat calc(50% + 50px) 100%;
        background-size: auto;
      }
    }
  }

  .main-title {
    font-family: "Zona Pro", serif;
    font-weight: 100;
    font-size: 22.5px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.2;
    text-align: left;
    position: relative;
  }

  .main-body {
    position: absolute;
    left: 30px;
    bottom: 30px;
    -webkit-transition: bottom 800ms ease;
    -o-transition: bottom 800ms ease;
    -moz-transition: bottom 800ms ease;
    transition: bottom 800ms ease;

    .title {
      font-size: 24px;
      font-family: "Zona Pro SemiBold", serif;
      color: rgb(255, 255, 255);
      font-weight: bold;
      text-transform: uppercase;
      margin: 0 0 30px 0;
      line-height: 1.417;
      text-align: left;
    }
    .body {
      font-size: 15.75px;
      font-family: "Zona-Light", serif;
      font-weight: 300;
      color: #ffffff;
      line-height: 1.5;
      text-align: left;
      margin-bottom: 30px;
    }
    
    &.withDisc {
      bottom: -43px;
    }
  }

  .white .main-body {
    bottom: 132px;
    .body {
      width: 50%;
      float: right;
      color: #000;
    }
  }

  &:after {
    content: '';
    clear: both;
    display: table;
  }

}

.full-block {

  .main-body {

    .body {
      width: calc(50%);
    }
  }
}

.half-block {

  .main-body {
    width: 735px;

    .body {
      width: calc(100%);
    }
  }
}

.third-block {

  .main-body {
    width: 460px;

    .body {
      width: calc(100%);
    }
  }
}

.two-thirds {

  .main-body {
    width: 1010px;

    .body {
      width: calc(100%);
    }
  }
}

.two-row {

  .main-body {
    width: 460px;

    .body {
      width: calc(100%);
    }
  }
}

.white {
  background-color: #ffffff;
}

.orange {
  background-color: #ff6f28;
}

.blue {
  background-color: #44bbff;
}

.light-blue {
  background-color: #44bbff;
}

.black {
  background-color: #120f12;
}

.grey {
  background-color: #cccccc;
}

.dark-grey {
  background-color: #777777;
}
.discover {
  display: inline-block;
  cursor: pointer;
  height: 38px;
  width: 155px;
  background: url('../image/discover.png') no-repeat;
  text-decoration: none;
  outline: none;
}

#footer {
  background-color: #cbcbcb;

  .footer-row {
    height: 300px;
  }

  .footer-container {
    height: 100%;
    margin: 0 auto;

    &:after {
      content: '';
      clear: both;
      display: table;
    }

    .column {
      float: left;

      &.logo-content {

        a {
          display: block;
          color: #dbdbdb;
          cursor: pointer;
          text-decoration: none;
          outline: none;

          &:hover, &:focus, &:active {
            text-decoration: none;
            border: none;
            outline: none;
          }
        }
      }

      li a {
        color: #ffffff;

        &:hover, &:focus, &:active {
          color: #ffffff;
          text-decoration: none;
          border: none;
          outline: none;
        }
      }

      h3 {
        color: #44bbff;
        font-weight: 100;
        margin-bottom: 15px;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        color: #ffffff;

        li {
          margin-top: 10px;
        }
      }

      .logo {
        background: url('../image/LOGO_white.png') no-repeat 0 50%;
        height: 48px;
        width: 100%;
        margin-bottom: 10px;
        display: block;
      }
    }
  }

  .follow-us {
    float: left;
    height: 100%;
    width: 33.33%;
    border-bottom: 1px solid #d0d0d0;

    ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      width: 250px;

      li {
        float: left;
        width: 25%;

        a {
          cursor: pointer;
          display: block;
          margin: 0 auto;
          overflow: hidden;
          height: 38px;
          width: 38px;

          &.facebook-icon {
            background: url('../image/FACEBOOK_icon.png') no-repeat 50% 50%;
            background-size: 100%;

            &:hover {
              background-image: url('../image/FACEBOOK_icon_hover.png');
            }
          }
          &.twitter-icon {
            background: url('../image/TWITTER_icon.png') no-repeat 50%;
            background-size: 100%;

            &:hover {
              background-image: url('../image/TWITTER_icon_hover.png');
            }
          }
          &.googleplus-icon {
            background: url('../image/GOOGLE-PLUS_icon.png') no-repeat 50%;
            background-size: 100%;

            &:hover {
              background-image: url('../image/GOOGLE-PLUS_icon_hover.png');
            }
          }
          &.youtube-icon {
            background: url('../image/YOUTUBE_icon.png') no-repeat 50%;
            background-size: 100%;

            &:hover {
              background-image: url('../image/YOUTUBE_icon_hover.png');
            }
          }
        }
      }

      &:after {
        display: table;
        content: '';
        clear: both;
      }
    }
  }

  .newsletter {
    float: left;
    height: 100%;
    width: 66.66%;
    border-bottom: 1px solid #d0d0d0;

    .input-group {
      float: none;
      height: 38px;
      margin: 0 auto;
      width: 570px;
      position: relative;

      .mail_icon {
        background: #ffffff url('../image/email_icon.png') no-repeat 50%;
        position: absolute;
        display: block;
        margin: 0 auto;
        border: 1px solid #dbdbdb;
        border-radius: 100%;
        overflow: hidden;
        height: 38px;
        width: 38px;
        outline: none;
      }

      input {
        border: none;
        border-radius: 18px;
        height: 38px;
        width: 100%;
        outline: none;
        padding: 0 18px 0 48px;
      }
    }
  }

  .follow-us h3, .newsletter h3 {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    //margin-top: 30px;
  }

  .follow-us, .newsletter {
    p {
      color: #737373;
      font-size: 12px;
      line-height: 24px;
      min-height: 24px;
      text-align: center;
      margin-bottom: 25px;
    }
  }

  .copyright {
    color: #737373;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
  }
}